
/* header */

#blue-top-strip {
    border-radius: 0 0 30px 30px;
    background-color: #053e84;
    margin-bottom: 1rem;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

#page_man_heading {
    width: 60%;
    margin: 0 auto;
}
#page_man_heading .form-text {
    padding-bottom: 2.5rem;
}
#page_man_heading > P {
    padding: .75rem 1rem;
    line-height: 1.5 !important;
}



#page_man_heading p {
    color: #053e84;
    text-transform: capitalize;
    /* width: 90%; */
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
    line-height:1 !important;
    /* background: #cecece; */
}
/* General styles */


.group-label {
    font-size: 1.25rem;
    font-weight: bold;
    color: #053e84;
}

.group-input {
    border-radius: 25px;
    padding: 10px 20px;
    border: 2px solid #053e84;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.group-input:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

/* 5 column */

.company-label {
    font-size: 1.25rem;
    font-weight: bold;
    color: #053e84;
}

.company-input {
    border-radius: 25px;
    padding: 8px 7px;
    border: 2px solid #007bff;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.company-input:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

/* .input-group .company-input {
    width: 18%;
    margin-right: 10px;
} */

.input-group .company-input:last-child {
    margin-right: 0;
}

.cry h2{
    font-size: 27px;
    color: rgb(33, 81, 185);
    text-align: left;
    text-decoration: underline;
}



.numeric-label {
    font-size: 1.25rem;
    font-weight: bold;
    color: #343a40;
    padding: 13px 0px;
}

.numeric-value {
    color: #053e84;
    font-size: 1.25rem;
    font-weight: bold;
}


.custom-border {
    border: 1px solid #053e84;
    border-radius: 25px;
    padding: 10px 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.custom-input {
    border: 1px solid #007bff;
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    flex: 1;
}

.custom-border:focus {
    border-color: #5287be;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

@media (max-width: 767px) {
    .numeric-label {
        text-align: left;
        font-size: 12px;
        padding: 9px 0px;
        /* margin-bottom: 10px; */
    }
    .numeric-value {
        font-size: 12px;
    }
    .input-group {
        flex-direction: column;
    }
    .custom-input {
        /* width: 100%; */
        margin-bottom: 4px;
    }
    .custom-input:last-child {
        margin-bottom: 0;
    }
    .custom-border {
        border: 1px solid #053e84;
        border-radius: 25px;
        padding: 0px 12px;
        margin-bottom: 10px;
    }
    .form-control {
        display: block;
        /* width: 100%; */
        padding: 0.6rem 0.75rem!important;
        font-size: .725rem;
        font-weight: 400;
        margin-top: 7px;
        line-height: 1;
    }
}
@media (min-width: 525px) and (max-width: 767px) {
    .numeric-label {
        text-align: left;
        font-size: 14px;
        padding: 14px 0px;
        /* margin-bottom: 10px; */
    }
}

.possible-page {
    padding-top: 90px;
    
}

.pb-text {
    font-size: 24px;
    color: #0056b3;
    text-decoration: underline;
}









/* General styles */


h3 {
    color: #007bff;
    margin-bottom: 20px;
}

.combinations-list {
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.combination-item {
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 10px;
    /* margin-bottom: 15px; */
    text-align: center;
    transition: all 0.3s ease;
}
.combination-item2 {
    padding: 10px;
    border: 2px solid #dc3545;
    border-radius: 10px;
    /* margin-bottom: 15px; */
    text-align: center;
    transition: all 0.3s ease;
}

.combination-item:hover {
    background-color: #e9f7ff;
    transform: scale(1.02);
}
.combination-item2:hover {
    background-color: #e9f7ff;
    transform: scale(1.02);
}
.c1-text p {
    color: #0056b3;
    font-size: 19px;
    padding-top: 5px;
    font-weight: bold;
}
.scroll-bh {
    display: flex;
    justify-content: space-evenly;
}
.company-scroll {
    max-width: 500px;
    overflow: scroll;
}

.not-fulfilled-item {
    background-color: #fff;
    border-radius: 15px;
    padding: 38px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    /* border: 2px solid #dc3545; Red border for Not Fulfilled */
}

.not-fulfilled-item .C4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #dc3545; /* Red color for emphasis */
}
.confirmed p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0056b3;
}

.not-fulfilled-item .alone {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0056b3;
}

@media (max-width: 767px) {
    .combination-item {
        font-size: 1.2rem;
    }
    .not-fulfilled-item p {
        font-size: 1.2rem;
    }
    .group-label {
        font-size: 12px;
    }
}

/* media */

@media (max-width: 532px) {
    #page_man_heading .com-text {
        font-size: 17px;
        text-align: center;
        position: relative;
        left: 15px;
        top: 8px;
    }
    #page_man_heading .form-text {
        font-size: 18px;
        text-align: center;
    }
    #companyName2, #companyName3 {
        margin: 0px 0px!important;
    }
    #companyName1, #companyName4 {
        border-radius: 0px;
    }
}

@media (min-width: 425px) and (max-width: 1024px) {
    .numeric-value {
        color: #053e84;
        font-size: .9rem;
        font-weight: bold;
    }
}
@media (max-width: 424px) {
    .numeric-value {
        font-size: .6rem;
    }
    .scroll-container .input-box {
        padding: 0px!important;
    }
    .left-section p  {
        margin-bottom: 0rem
    }
}

.scroll-container {
    width: 100%;
    overflow-x: auto;
    white-space: wrap;
    position: relative;
    padding-bottom: 20px;
  }
  
  .input-wrapper {
    display: flex;
    padding-top: 20px;
    width: 200%; 
  }
  
  .input-box {
    box-sizing: border-box;
    padding: 10px;
  }
  
  /* Custom Scrollbar */
  .scroll-container::-webkit-scrollbar {
    height: 10px;
    background-color: #f1f1f1;
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
  
  .scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  .scroll-container {
    scrollbar-color: #bdbdbd #f1f1f1;
  }
  
  .footer-scrollbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background-color: transparent;
  }
  




  /*  */


  

  .company-name {
    width: 100%;
    overflow: hidden; 
    position: relative;
    padding-bottom: 5px; 
}

.input-group-wrapper {
    display: flex;
    width: calc(100px * 8);
    overflow-x: auto;
    scroll-behavior: smooth; 
}

.company-input {
    flex: 0 0 200px; 
    margin: 10px 10px; 
    padding: 10px;
    font-size: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
}

.company-name::-webkit-scrollbar {
    width: 0; 
    height: 0;
}
.input-group-wrapper::-webkit-scrollbar {
    height: 7px;
    background-color: transparent; 
    position: absolute;
    bottom: 0;
    top: 10px;
}
.input-group-wrapper::-webkit-scrollbar-thumb {
    background-color: #dadada;
    border-radius: 5px;
}
.input-group-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: #dadada;
}


